<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ETLPaymentsProcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CIFLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CIFLoader.Properties.Settings.CIFDbConn" connectionString="Data Source=GBMNYREGD01.NGL.CORP;Initial Catalog=RR61;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ETLPaymentsProcess.Properties.Settings.CIFDbConn"
      connectionString="Data Source=GBMNYREGD01.NGL.CORP;Initial Catalog=RR61;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <log4net>
    <appender name="MyRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\tmp\ConfirmingETL.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <maxSizeRollBackups value="10" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="DateTime | Thread | Level | ClassName | Message&#xD;&#xA;" />
        <conversionPattern value="%date | %thread | %-5level | %logger | %message%newline" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <backColor value="Green" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="MyRollingFileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>

  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <applicationSettings>
    <ETLPaymentsProcess.Properties.Settings>
      <setting name="EgiftInfoFilePath" serializeAs="String">
        <value>C:\workspace\Corporate\payments\payments.txt</value>
      </setting>
      <setting name="EmailServer" serializeAs="String">
        <value>SNYEVS01.NY.santanderusa.com</value>
      </setting>
      <setting name="EmailFrom" serializeAs="String">
        <value>cesar.martinez@external.santander.us</value>
      </setting>
      <setting name="EmailTo" serializeAs="String">
        <value>cesar.martinez@external.santander.us</value>
      </setting>
      <setting name="EmailSuccSub" serializeAs="String">
        <value>Confirming Payments and Exchage Rates Audit Files Loaded Successfully. </value>
      </setting>
      <setting name="EmailFailedSub" serializeAs="String">
        <value>Confirming Payments and Exchage Rates Loading Process Completed With Error. </value>
      </setting>
      <setting name="LogFolder" serializeAs="String">
        <value>C:\tmp\</value>
      </setting>
      <setting name="ExchangeRateInfoFilePath" serializeAs="String">
        <value>C:\workspace\Corporate\payments\cd_sensibilidades.normalized_fx_20201120.csv</value>
      </setting>
      <setting name="PaymentInfoFilePath" serializeAs="String">
        <value>C:\workspace\Corporate\payments\paymentsresult.txt</value>
      </setting>
    </ETLPaymentsProcess.Properties.Settings>
    <CIFLoader.Properties.Settings>
      <setting name="EgiftInfoFilePath" serializeAs="String">
        <value>C:\workspace\Corporate\payments\payments.txt</value>
      </setting>
      <setting name="PaymentInfoFilePath" serializeAs="String">
        <value>C:\workspace\Corporate\payments\paymentsresult.txt</value>
      </setting>

      <setting name="EmailServer" serializeAs="String">
        <value>SNYEVS01.NY.santanderusa.com</value>
      </setting>
      <setting name="EmailFrom" serializeAs="String">
        <value>cesar.martinez@external.santander.us</value>
      </setting>
      <setting name="EmailTo" serializeAs="String">
        <value>cesar.martinez@external.santander.us</value>
      </setting>
      <setting name="EmailSuccSub" serializeAs="String">
        <value>Confirming Customer Audit Files Loaded Successfully. </value>
      </setting>
      <setting name="EmailFailedSub" serializeAs="String">
        <value>Confirming Customer Audit Files Loading Process Completed With Error. </value>
      </setting>
      <setting name="LogFolder" serializeAs="String">
        <value>C:\tmp\</value>
      </setting>
      <setting name="ExchangeRateInfoFilePath" serializeAs="String">
        <value>C:\workspace\Corporate\payments\cd_sensibilidades.normalized_fx_20201120.csv</value>
      </setting>
    </CIFLoader.Properties.Settings>
  </applicationSettings>
</configuration>